# PyInstaller
build/
dist/
*.spec

# Entornos virtuales
venv/
env/
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos temporales
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db

# Instalador de .NET (pesa mucho, no va en el repo)
dotnet48.exe